#!/usr/bin/env bash

sudo tee /opt/cape-frontend/env <<EOF
NODE_ENV=production
HOST=0.0.0.0
PUBLIC_COGNITO_AUTHORITY = "{{ cognito_pool_endpoint }}"
PUBLIC_COGNITO_CLIENT_ID = "{{ cognito_client_id }}"
PUBLIC_COGNITO_REDIRECT_URI = "https://{{ domain }}/auth/callback"
EOF

sudo systemctl restart cape-frontend.service
